* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hamburger {
  display: none;
}

.site-title {
  font-size: 1.9rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  height: 4rem;
}

.nav-list {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.nav-list a {
  font-weight: 400;
}

@media screen and (max-width: 1240px) {
  .site-title {
    font-size: 1.5rem;
    position: relative;
    z-index: 7;
  }

  .hamburger {
    font-size: 1.1rem;
    display: block;
    cursor: pointer;
    position: relative;
  }

  .nav-list {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -2.1%;
    left: -100%;
    text-align: center;
    width: 100%;
    height: 100vh;
    transition: 0.3s;
  }

  .nav-list.active {
    left: 0;
    /* top: -2.5%; */
  }

  .nav-list li {
    padding: 1rem 0;
  }

  .nav-list a {
    font-size: 1.5rem;
  }

  .lightTheme .nav-list {
    background-color: rgb(151, 146, 146);
  }

  .darkTheme .nav-list {
    background: rgba(0, 0, 0, 0.9);
  }
}
